@import 'posts';
@import 'users';


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
  margin-left: 420px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 2px 16px;
  text-decoration: none;
  display: block;
  align-items: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
